<section>
    <h1>Organisation search results</h1>

    Your search for "<span data-bind="text: searchFilter"></span>" returned the following...

    <table class="table">
        <thead>
            <tr>
                <th>UKPRN</th>
                <th>Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: providers">
            <tr>
                <td data-bind="text: ukprn"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: city"></td>
            </tr>
        </tbody>
    </table>

</section>