<h2 data-bind="html:displayName"></h2>
<blockquote data-bind="html:description"></blockquote>
<form class="form-inline" role="form">
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon" for="search">Search for your provider:</label>
            <input type="text" id="search" class="form-control" placeholder="Search" data-bind="value: searchText">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-bind="click: doSearch, clickBubble: false"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</form>
<p>
    <div class="alert alert-success" data-bind="visible: providers().length == 0">No organisations found.</div>

    <div data-bind="visible: providers().length > 0">
        Your search for "<span data-bind="text: searchText"></span>" returned the following <span data-bind="text: providers().length" /> results.

        <table class=" table">
    <thead>
        <tr>
            <th>UKPRN</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: providers">
        <tr>
            <td data-bind="text: ukprn"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: city"></td>
        </tr>
    </tbody>
    </table>
</div>
</p>