<h2 data-bind="html:displayName"></h2>
<blockquote data-bind="html:description"></blockquote>
<form class="form-inline" role="form">
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon" for="search">Search for your provider:</label>
            <input type="text" id="search" class="form-control" placeholder="Search" data-bind="value: searchText">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" data-bind="click: doSearch, clickBubble: false"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</form>
